openapi: 3.0.3
info:
  title: Zego Partner Customer Integration Customers API
  version: '2.0'
  description: The Zego Partner API is a RESTful interface for partners and work providers to interact with Zego on behalf of Zego customers. It covers shift management (starting and ending insurance cover for gig-economy drivers and couriers), customer status and validation, customer registration and enrolment, fixed-term public liability policies, supported occupations, and customer matching. Access is granted to partners via an authorization token issued by the Zego Partnerships Manager. This specification was generated by the API Evangelist enrichment pipeline from Zego's published partner developer documentation at https://developer.zego.com/ — it is faithful to the documented operations but is not an official Zego artifact.
  contact:
    name: Zego Partnerships
    url: https://developer.zego.com/
  x-apievangelist-generated: true
  x-source: https://developer.zego.com/
servers:
- url: https://api.zego.com
  description: Production
security:
- partnerToken: []
tags:
- name: Customers
  description: Customer status, validation, registration and enrolment.
paths:
  /v1/user/status/:
    get:
      operationId: getCustomerStatus
      tags:
      - Customers
      summary: Retrieve customer insurance status
      responses:
        '200':
          description: Customer status
        '401':
          description: Unauthorized
        '404':
          description: Customer not found
  /v1/validate/customer-number/{customerNumber}:
    get:
      operationId: validateCustomerNumber
      tags:
      - Customers
      summary: Validate a customer number exists
      parameters:
      - name: customerNumber
        in: path
        required: true
        description: The Zego customer number to validate.
        schema:
          type: string
      responses:
        '200':
          description: Customer number is valid
        '401':
          description: Unauthorized
        '404':
          description: Customer number not found
  /v2/customer/enrol/public-liability/:
    post:
      operationId: enrolCustomerPublicLiability
      tags:
      - Customers
      summary: Create and enrol a customer on public liability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Customer enrolment payload.
      responses:
        '201':
          description: Customer enrolled
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
  /v2/customer/register/:
    post:
      operationId: registerCustomer
      tags:
      - Customers
      summary: Create a new customer in the system
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Customer registration payload.
      responses:
        '201':
          description: Customer created
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  securitySchemes:
    partnerToken:
      type: apiKey
      in: header
      name: Authorization
      description: Partner authorization token issued by the Zego Partnerships Manager, sent in the Authorization header.
