openapi: 3.0.3
info:
  title: Zego Partner Customer Integration Policies API
  version: '2.0'
  description: The Zego Partner API is a RESTful interface for partners and work providers to interact with Zego on behalf of Zego customers. It covers shift management (starting and ending insurance cover for gig-economy drivers and couriers), customer status and validation, customer registration and enrolment, fixed-term public liability policies, supported occupations, and customer matching. Access is granted to partners via an authorization token issued by the Zego Partnerships Manager. This specification was generated by the API Evangelist enrichment pipeline from Zego's published partner developer documentation at https://developer.zego.com/ — it is faithful to the documented operations but is not an official Zego artifact.
  contact:
    name: Zego Partnerships
    url: https://developer.zego.com/
  x-apievangelist-generated: true
  x-source: https://developer.zego.com/
servers:
- url: https://api.zego.com
  description: Production
security:
- partnerToken: []
tags:
- name: Policies
  description: Fixed-term public liability policies.
paths:
  /v2/policy/:
    post:
      operationId: createPolicy
      tags:
      - Policies
      summary: Create a one-day fixed-term public liability policy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Policy creation payload.
      responses:
        '201':
          description: Policy created
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  securitySchemes:
    partnerToken:
      type: apiKey
      in: header
      name: Authorization
      description: Partner authorization token issued by the Zego Partnerships Manager, sent in the Authorization header.
